@media print {

    body>*:not(.print),
    body>*:not(.print) * {
        display: none;
    }
}

@media screen {
    .tabber__nav__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .tabber__tab:not(.selected) {
        display: none;
    }

    .tabber__nav__button.selected {
        background-color: aquamarine;
    }

    #controls {
        border: 1px solid gray;
        box-sizing: border-box;
    }

    #controls>.tabber__content>.tabber__tab.selected {
        display: flex;
        flex-flow: column nowrap;
    }

    .slider {
        margin: 2px;
        width: calc(100% - 4px);
    }
}